body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
  }

  .container{
    max-width: 95%;
    margin: 0;
  }

.grid-container{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 8em;

}
.mobiel{
    margin-left: 25em;
}

.gelestuk{
    margin-left: 50%;
    height: 5em;
    padding-left: 47em;
    background-color: yellow;
}

.drop{
    overflow: hidden;
    float: left;
    font-size: 4em;
    padding-top: 5%;
    padding-left: 1em;
}

.logo{
    margin-left: 23em;
    padding-top: 1em;
}

.dropper2{
    float: left;
    font-size: 4em;
    padding-left: 1em;
    padding-top: 0.5em;
}

.proefles{
    font-size: 3em;
    margin-left: 1em;
}

.line{
    margin-left: 50%;
    height: 1%;
    padding-left: 47em;
    background-color:gray;
}

.p1{
    position: absolute;
    left: 47em;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.6;
    color: #5f656d;
}

.proeflesblok{
    position: absolute;
    padding-left: 10em;
    padding-right: 10em;
    top: 50rem;
    left: 35em;
    font-weight: 400;
    line-height: 1.6;
    width: 10em;
    background-color: rgba(255, 166, 0, 0.735);
    border-style: solid;
    border-color: orange;
}

.locaties{
    font-size: 3em;
    margin-left: 4em;
    margin-top: 18em;
}
.line2{
    margin-top: 60em;
    height: 1%;
    padding-right: 45em;
    background-color:gray;
    margin-right: 100%;
}