body {
    background-color: white;
    margin: 0;
    font-family: 'Archivo', sans-serif;
    font-size: 100%;
  }

  .container{
    max-width: 100%;
    margin: 0;
  }

.grid-container{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 8em;

}
.mobiel{
    margin-left: 25em;
}

.gelestuk{
    margin-left: 50%;
    height: 5em;
    padding-left: 47em;
    background-color: yellow;
}

.drop{
    float: left;
    font-size: 4em;
    padding-top: 5%;
    padding-left: 1em;
}

.logo{
    margin-left: 23em;
    padding-top: 1em;
}

.dropper2{
    float: left;
    font-size: 4em;
    padding-left: 1em;
    padding-top: 0.5em;
}

.proefles{
    font-size: 3em;
    margin-left: 5em;
}

.line{
    margin-left: 50%;
    height: 1%;
    padding-left: 47em;
    background-color:gray;
}

.p1{
    padding-top: 35em;
    padding-left: 30em;
}